<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/saved}" method="post">
<label>id</label>
<input type="number" id="a" th:field="${m.id}"><br>
<label>name</label>
<input type="text" id="p" th:field="${m.name}"><br>
<label>collage</label>
<input type="text" id="z" th:field="${m.collage}"><br>
<label>price</label>
<input type="text" id="u" th:field="${m.price}"><br>
<input type="submit" value="submit">
</form>
</body>
</html>